.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr)); /*ändra storlek i thumbnails här*/
  gap: 0 1.5vw;
  padding: 0.8vw;
  height: 100%;
}

.thumbnail {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19);
  transition: transform 0.2s ease;
  background-color: #fff;
  margin-bottom: 3.5vh;
}

.gallery-container {
  background-color:rgba(255, 255, 255, 0.731);
  height: 58vh;
  width: 58vw;
  margin-top: 7vh;
  /*pointer-events: none;*/
  pointer-events: auto;
  caret-color: transparent;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 12px;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.caption {
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 1vh;
}